<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.shapingcloud.otherlevels.OtherLevelsPlugin" version="0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>OtherLevelsPlugin</name>

    
    <js-module name="OtherLevelsPlugin" src="www/OtherLevelsPlugin.js">
        <clobbers target="OtherLevelsPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OtherLevelsPlugin">
                <param name="android-package" value="com.shapingcloud.otherlevels.OtherLevelsPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />

        <source-file src="src/android/OtherLevelsPlugin.java" target-dir="src/com/shapingcloud/otherlevels" />
        <!-- crod -->
        <source-file src="src/android/lib/okio-1.2.0.jar" target-dir="libs" />
        <source-file src="src/android/lib/otherlevels-android-sdk.jar" target-dir="libs" />
       <!--  <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.judopay.android.library.activities.PaymentTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.PaymentActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.RegisterCardActivity"/>
        </config-file>
        <source-file src="src/android/res/values/JudoPaymentPlugin.xml" target-dir="res/values" />
        <config-file target="res/values/JudoPaymentPlugin.xml" parent="/*">
            <string name="judo_api_token">$API_TOKEN</string>
            <string name="judo_api_secret">$API_SECRET</string>
            <string name="judo_id">$JUDO_ID</string>
            <string name="judo_env">$JUDO_ENV</string>

        </config-file> -->


        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="$PACKAGE_NAME.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />

            <!-- LocationUpdates -->
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-feature android:name="android.hardware.location" android:required="true" />
            <uses-feature android:name="android.hardware.location.gps" android:required="false" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name=".GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <service android:name=".GcmIntentService" />

            <!-- LocationUpdates -->
            <receiver android:name="com.otherlevels.android.sdk.location.geo.SignificantDistanceReceiver"/>
            <receiver android:name="com.otherlevels.android.sdk.location.geo.SignificantTimeReceiver"/>
            <receiver android:name="com.otherlevels.android.sdk.location.geo.PollAlarmReceiver"/>
            <receiver android:name="com.otherlevels.android.sdk.location.geo.GeofenceTransitionReceiver"/>
            <receiver android:name="com.otherlevels.android.sdk.location.geo.BootReceiver" android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </receiver>




        </config-file>
    </platform>
    
   <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OtherLevelsPlugin">
                <param name="ios-package" value="OtherLevelsPlugin" />
            </feature>
        </config-file>

		<header-file src="src/ios/OtherLevelsPlugin.h" />
		<source-file src="src/ios/OtherLevelsPlugin.m" />
        <!-- <resource-file src="src/ios/Framework/JudoPay.bundle" />
        <framework src="src/ios/Framework/JudoPay.framework" custom="true" />
        <framework src="CoreTelephony.framework" weak="true" />

        <config-file target="*-Info.plist" parent="JudoAPIToken">
            <string>$API_TOKEN</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="JudoAPISecret">
            <string>$API_SECRET</string>
        </config-file>

        <config-file target="*-Info.plist" parent="JudoID">
            <string>$JUDO_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="JudoENV">
            <string>$JUDO_ENV</string>
        </config-file> -->

    </platform>
    <dependency id="org.fathens.cordova.okhttp" url="https://github.com/sawatani/Cordova-plugin-okhttp.git" />
</plugin>